@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

.primary-color{
    background-color: #009286;
}

.secondary-color{
    background-color: #90006F;
}

.text-primary{
    color: #009286;
}
.text-secondary{
    color: #90006F;
}


